body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.centralized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lefted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pink {
  color: #ff5b91;
}

.white {
  color: #fff;
}

.left-txt {
  text-align: left !important;
}

.pinked-num {
  width: 24px;
  height: 24px;
  background: #ff89b4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.section {
  margin-bottom: 80px;
}

.padded-content {
  max-width: 327px;
  margin: 0 auto;
}

.padded-txt-container {
  max-width: 327px;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .section {
    margin-bottom: 100px;
  }

  .padded-content {
    max-width: 728px;
  }

  .padded-txt-container {
    max-width: 624px;
  }
}

@media only screen and (min-width: 1440px) {
  .padded-content {
    max-width: 1024px;
  }
  .section {
    margin-bottom: 120px;
  }
  .padded-txt-container {
    max-width: 850px;
  }
}
