#hero.dark {
  height: 100vh;
  background-color: #0d0d0d;
  color: #ffffff;
}

#hero p {
  padding-top: 38px;
}

#svg-container {
}
#svg-icon {
  width: 32px;
  height: 32px;
}
#svg-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work-card {
  background-image: url("/static/img/c1-m.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vw * 0.667);
  position: relative;
  margin-bottom: 228px;
  cursor: pointer;
}

.round-edge-card {
  position: absolute;
  width: 327px;
  height: 228px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 24px;
  top: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#chat-btn {
  width: 180px;
  height: 52px;
  background: #0d0d0d;
  border: 1px solid #0d0d0d;
  border-radius: 32px;
}

@media only screen and (min-width: 1024px) {
  #hero p {
    padding-top: 30px;
  }
  .work-card {
    width: 728px;
    height: 370px;
    border-radius: 14;
    margin-bottom: 86px;
  }
  .round-edge-card {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 356px;
    height: 312px;
  }
  #svg-container {
    max-width: 728px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
  }
  #svg-icon {
    width: 30px;
    height: 30px;
  }
  #svg-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
  }
  .txt-container {
    padding-top: 6px;
    margin-left: 10px;
  }
  .txt-container p {
    text-align: left !important;
  }
}

@media only screen and (min-width: 1440px) {
  #hero p {
    padding-top: 40px;
  }
  .work-card {
    width: 1024px;
    height: 520px;
    border-radius: 20px;
    margin-bottom: 120px;
  }
  .round-edge-card {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 500px;
    height: 440px;
  }
  #svg-container {
    max-width: 1024px;
    column-gap: 100px;
  }
  #svg-icon {
    width: 40px;
    height: 40px;
  }
  .txt-container {
    margin-left: 16px;
  }
}
