#pill-container > * {
  margin: 0px 4px;
}

.rounded-btn {
  width: 112px;
  height: 32px;
  border: 1px solid #c4c4c4;
  border-radius: 22px;
  color: #7d7d7d;
}

#responsibility-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 60px;
}

.responsibility-div {
  max-width: 200px;
}

#pink-section {
  background: #fff9fb;
  padding-top: 40px;
  padding-bottom: 40px;
}

#problem-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 24px;
}

.board-images {
  width: 327px;
  height: auto;
  object-fit: cover;
}

#number-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 30px;
}

#table-div {
}
