/* nav */
#home-icon {
  display: none;
}

@media only screen and (min-width: 1024px) {
  #home-icon {
    display: block;
  }
}

/* hero */
#hero {
  margin-top: 68px;
  padding-top: 35px;
}

#hero .header2 {
  padding-top: 8px;
  padding-bottom: 24px;

  line-height: 34px;
}

#pill-container > * {
  margin: 0px 4px;

  margin-bottom: 40px;
}

.rounded-btn {
  width: 112px;
  height: 32px;
  border: 1px solid #c4c4c4;
  border-radius: 22px;
  color: #7d7d7d;
}

/* ----------------------- */

/* synopsis */

#synopsis .overline,
#synopsis .header3 {
  padding-bottom: 14px;
}

#synopsis .subtitle1,
#pink-section .subtitle1 {
  padding-bottom: 10px;
}

#responsibility-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 60px;

  margin-top: 30px;
}

.responsibility-div {
  max-width: 200px;
}

#synopsis .body2,
#pink-section .body2 {
  line-height: 24px;
}

/* pink section */

#pink-section .body3 {
  line-height: 20px;
}

#pink-section {
  background: #fff9fb;
  padding-top: 40px;
  padding-bottom: 40px;
}

#pink-section .pinked-num {
  margin-bottom: 12px;
}

#problem-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 24px;

  margin: 40px 0px;
}

#number-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 30px;
}

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  /* hero */
  #pill-container > * {
    margin: 0px 8px;
  }

  .rounded-btn {
    border: 1px solid #c4c4c4;
    border-radius: 22px;
    color: #7d7d7d;

    padding: 8px 16px;
    width: auto;
    height: auto;

    background-color: white;
  }

  /* synopsis */
  #responsibility-container {
    display: flex;
    justify-content: space-between;
  }

  .responsibility-div {
    max-width: 104px;
  }

  #pink-section {
    padding-top: 84px;
    padding-bottom: 80px;
  }

  #problem-container {
    display: flex;
    justify-content: space-between;
  }

  #problem-container div {
    max-width: 112px;
  }

  /* research insights */
  #iconed-container {
    display: flex;
    justify-content: space-between;
  }

  #iconed-container div {
    max-width: 180px;
  }

  /* problem synthesis */
  #board-container {
    display: flex;
    justify-content: space-between;
  }

  /* persona */
  .person-container {
    display: flex;
    justify-content: space-between;
  }

  .bio-txt-container {
    /* max-width: 380px; */
    margin-left: 30px;
  }

  .bio-txt-container p {
    text-align: left;
  }

  /* brainstorm */
  #brainstorm-container {
    display: flex;
    justify-content: space-between;
  }

  /* decisions */
  #table-div {
    display: flex;
  }

  #table-div div {
    width: 50%;
  }

  /* conclusions */
  #number-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  /* hero */
  #pill-container > * {
    margin: 0px 11px;
  }

  .rounded-btn {
    padding: 12px 26px;
  }

  /* synopsis */
  .responsibility-div {
    max-width: 148px;
  }

  #pink-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  #problem-container div {
    max-width: 160px;
  }

  /* research insights */
  #iconed-container div {
    max-width: 240px;
  }

  /* persona */
  .bio-txt-container {
    /* max-width: 380px; */
    margin-left: 62px;
  }

  /* conclusions */
  #number-container {
    max-width: 600px;
  }
}
